@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&subset=latin-ext");

@import "./variables";

html {
  font-size: 16px;
}

body {
  font-weight: 300;
  color: $color-text-main;
  font-family: "Open Sans", sans-serif;
  line-height: normal;
}

h2 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.5rem;
}

strong,
b {
  font-weight: 700;
}

a {
  transition: 0.3s color;
  text-decoration: none;

  &:link {
    color: $color-primary;
  }

  &:hover {
    color: lighten($color-primary, 10%);
  }

  &:visited,
  &:active {
    color: $color-primary;
  }
}