@import '../../../config/variables.scss';

.main-container {
    background-color: $color-background;
    padding-top: $main-spacing;
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 1px; //strange but works
}